extends layout

block content
  h1 Messages:
  ul
    each message in messages
      li 
        block content
        p #{message.user}
        p #{message.text}
        p #{message.added}

  a(href="/new")
    button(type="button") Add Comment
